<div class="main-container">
    <div class="d-flex justify-content-between">
      <%= form_tag tennis_courts_path, method: :get, class: "d-flex m-3" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a Tennis court"
        %>
        <%= submit_tag "Search", class: "btn btn-primary ml-1" %>
      <% end %>
    </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <% @tennis_courts.each do |tennis_court| %>
        <div class="card-product">
          <div class="card-product-photo">
              <% if tennis_court.photo.attached? %>
                <%= cl_image_tag tennis_court.photo.key, crop: :fill %>
              <% else %>
                <%= image_tag "no-photo-available-icon-8.jpg" %>
              <% end %>
          </div>
          <div class="card-product-infos">
            <h1 class="card-title"> <%= tennis_court.court_name %></h1>
            <h2><%= tennis_court.address %></h2>
            <p><%= "#{tennis_court.price_per_hour}€" %></p>
          </div>
          <div class="button">
            <p><%= link_to "More details", tennis_court, class: "btn btn-primary"%></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-12 col-lg-6">
      <div id="map"
           style="height: 900px; width: 100%;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
