<h1><%= @tennis_court.court_name %></h1>
<h5><%= @tennis_court.description %></h5>
<p><%= @tennis_court.surface_type %></p>
<p><%= @tennis_court.price_per_hour %></p>

<div class="search">
  <div class="d-flex align-items-center">
    <nav class="navbar navbar-light">
      <%= simple_form_for(booking_path, html:{ class:"form-inline" }) do |f| %>
      <%= f.input :date, as: :string, input_html: {type: :date} %>
      <%= f.input :beginning_time, as: :string, input_html: {type: :time} %>
      <%= f.input :end_time, as: :string, input_html: {type: :time} %>
      <%= f.submit "Book now", class: "btn btn-primary ml-2" %>
      <% end %>
    </nav>
  </div>
</div>
