<div class="main-container">

  <div class="row">

    <div class="col-md-12 col-lg-6">
      <div class="dashboard-stat">
        <h1>Hello <%= current_user.first_name%> these are your bookings </h1>
        <% @mybookings.each do |mybooking| %>
        <%= form_tag  booking_orders_path(mybooking) do %>
        <%= hidden_field_tag 'booking_id', mybooking.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-warning' %>
        <% end %>
            <div class="card-product">
              <div class="card-product-photo">
                <%= image_tag "no-photo-available-icon-8.jpg" %>
              </div>
              <div class="card-product-infos">
                <h1>Reservation for <%= mybooking.tennis_court.court_name %></h1>
                <p>Status: <strong><%= mybooking.status %></strong></p>
                <p><strong><%= mybooking.beginning_date_time.strftime("%b %e from %l:%M%p")%></strong>
                  <strong><%= mybooking.end_date_time.strftime("to %l:%M%p") %></strong></p>
                <%= link_to 'chat-room', chatroom_path(mybooking.chatrooms.first) %>
              </div>
            </div>
      <% end %>
      </div>
    </div>


    <div class="col-md-12 col-lg-6">
      
        <% if current_user.tennis_courts.present? %>
      
          <div class="dashboard-stat">
            <h1><%= current_user.first_name %> stat as a Host </h1>
            <% @tennis_courts.each do |tennis_court| %>
              <div>
                <h2>How much money you made as a host</h2>
                <p><%= tennis_court.court_name%>: <%= tennis_court.total_booked_hours * tennis_court.price_per_hour %> € </p>
              </div>
            <% end %>
          </div>

          <div class="dashboard-stat">
            <h1><%= current_user.first_name %> Hosting Summary </h1>
            <% @tennis_courts.each do |tennis_court| %>
              <% tennis_court.bookings.each do |booking| %>
                <div class="card-product">
                  <div class="card-product-photo">
                        <% if tennis_court.photo.attached? %>
                          <%= cl_image_tag tennis_court.photo.key, crop: :fill %>
                        <% else %>
                          <%= image_tag "no-photo-available-icon-8.jpg" %>
                        <% end %>
                    </div>
                  <div class="card-product-infos">
                    <h2><%= booking.tennis_court.court_name %></h2>
                    <p><strong>status: <%= booking.status %></strong></p>
                    <p><%= booking.user.first_name %></p>
                    <p><%= booking.beginning_date_time.strftime("%b %e from %l:%M%p") %>
                      <%= booking.end_date_time.strftime("to %l:%M%p") %></p>
                    <%= link_to 'chat-room', chatroom_path(booking.chatrooms.first) %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="dashboard-stat">
            <h1><%= current_user.first_name %> Tennis Courts</h1>
              <% @tennis_courts.each do |tennis_court| %>
               <%= link_to tennis_court_path(tennis_court) do %>
                  <div class="card-product">
                    <div class="card-product-photo">
                        <% if tennis_court.photo.attached? %>
                          <%= cl_image_tag tennis_court.photo.key, crop: :fill %>
                        <% else %>
                          <%= image_tag "no-photo-available-icon-8.jpg" %>
                        <% end %>
                    </div>
                    <div class="card-product-infos">
                      <h1 class="card-title"> <%= tennis_court.court_name %></h1>
                      <h2><%= tennis_court.address %></h2>
                      <p><%= "#{tennis_court.price_per_hour}€" %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
          </div>

        <% end %>

    </div>
  </div> 
</div>
 
