<h1>Book your court </h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="search">
<div class="d-flex align-items-center">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">


       <%= simple_form_for(@tennis_court, html:{ class:"form-inline" }) do |f| %>
       <%= f.input :address %>

      <%= f.input :created_at, as: :string, input_html: {type: :date} %>

      <%= f.input :created_at, as: :string, input_html: {type: :time} %>

      <%= f.submit "search" %>
      <% end %>

</nav>
</div>
</div>



